---
layout: post
title: "Home"
---
<script src="https://kit.fontawesome.com/a8811c6a22.js" crossorigin="anonymous"></script>
<style>
* {
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

img {
  max-width: 100%;
  max-height: 100%;
/*  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid gray;*/
}

.text {
  padding-left: 20px;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
/*  background-color: darkred;
  color: white; */
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-around;
}

/* Main column */
.main {
  flex: 70%;
/*  background-color: darkblue;
  color: white; */
  padding: 5px;
  align-content: space-around;
}
</style>

<!-- The flexible grid (content) -->
<div class="row">
  <div class="side" align="center">
    <img src="/GodwinPonraj/assets/Photo_temp.png" style = "padding-bottom: 0px; border-width: 0px;">
    <b style="font-size:150%; padding-bottom: 0px; padding-top: 0px">Godwin Ponraj</b><br>
    PhD Student, Department of Biomedical Engineering,
    National University of Singapore.
  </div>
  <div class="main" align="justify">
    I am a fourth year Ph.D student in the Department of Biomedical Engineering, National University of Singapore (NUS) under the supervision of <i>Assoc. Prof. Hongliang Ren</i>. Since 2016, I have been with the <a href="http://www.labren.org/mm/"><i>Medical Mechatronics lab</i></a>, NUS, and have been working in the field of tactile sensing, control, and teleoperation of soft robotic systems. Before that, I received my Masters degree in Electrical Engineering with specialization in Automation and Control, from the Department of Electrical and Computer Engineering, NUS in 2016.
      <br><br>
      I am currently working on integrating origami and kirigami designs into close-range chip-less RF sensing for use in biomedical applications.
    <br><br>
    <div class="flex-container">
      <a href="mailto:godwin.joseph@u.nus.edu">
        <i class="fa-solid fa-envelope"></i> godwin.joseph@u.nus.edu</a>
      <a href="https://scholar.google.com.sg/citations?user=CRLrkQUAAAAJ&hl=en">
        <i class="fa-solid fa-user-graduate"></i> Google Scholar</a>
      <a href="https://www.linkedin.com/in/godwin-ponraj-joseph-05621162/">
        <i class="fa-brands fa-linkedin"></i> Linked In</a>
      <a href="https://github.com/godpon">
        <i class="fa-brands fa-github"></i> Github</a>
    </div>
  </div>
</div>
<hr>
<!--I also have experience and a demonstrated history working with tactile sensors - focused on fabrication and integration with robotic manipulators.-->
<h2><u>Recent projects</u></h2>
{% include RecentProjects.md %}
<a href="Projects/">
      <div align="right">
        <h4><em>...View All Projects</em></h4>
      </div>
</a>
<hr>
<h2><u>Key Publications</u></h2>
{% include KeyPublications.md %}
<a href="Publications/">
      <div align="right">
        <h4><em>...View All Publications</em></h4>
      </div>
</a>
<hr>
<h2><u>Education</u></h2>
{% include Education.md %} 
<hr>
<!--<h2><u>Experience</u></h2>
{% include Experience.md %}
<hr>-->
