---
layout: post
title: "Home"
---
<style>
  .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid gray;
}

.text {
  padding-left: 20px;
}

.fulltext {
  padding-left: 100px;
  padding-right: 100px;
}

</style>

<h2> Short Biography </h2>
<div align="justify">
  I am a fourth year Ph.D student in Department of Biomedical Engineering, National University of Singapore under the supervision of Assoc. Prof. Hongliang Ren.
  I am currently working on integrating origami and kirigami designs into close-range chip-less RF sensing for use in biomedical applications.
  I also have experience and a demonstrated history working with tactile sensors - focused on fabrication and integration with robotic manipulators.
</div>
<img src="/GodwinPonraj/assets/Photo_temp.png" width="200px"><br>
<h3> Contacts </h3>
<a href="mailto:godwin.joseph@u.nus.edu">
  <i class="fa-solid fa-envelope"></i>Mail</a>
<a href="https://github.com/godpon">
  <i class="fa-solid fa-github"></i>Github</a>
<a href="https://scholar.google.com.sg/citations?user=CRLrkQUAAAAJ&hl=en">
  <i class="fa-solid fa-user-graduate"></i>Google Scholar</a>

- {title: Mail, icon: envelope, url: ""}
- {title: Github, icon: github, url: ""}
- {title: Google Scholar, icon: graduation-cap, url: ""}
<hr>

<h2>Recent projects</h2>
<div class="flex-container">
      <div class="image" style="flex-basis: 45%" align = "center">
        <a href="MRC-WPSS/">
          <img src="/GodwinPonraj/assets/Fig_WPT_sch.jpg"><br>
          <i>Magnetic Resonance Coupling based Wireless Power Sharing Scheme</i><br>
        </a>
      </div>
      <div class="image" style="flex-basis: 45%" align = "center">
        <a href="Intubation-sensing/">
          <img src="/GodwinPonraj/assets/Fig_ETtube_sch.jpg"><br>
          <i>Chip-Less Wireless Sensing of Endotracheal Intubation</i><br>
        </a>
      </div>
      <div class="image" style="flex-basis: 45%" align = "center">
        <a href="RFID-sensing/">
          <img src="/GodwinPonraj/assets/Fig_RFID_printing.jpg"><br>
          <i>Chip-Less Wireless Sensing with Kirigami using Ink-Jet Printable Materials</i><br>
        </a>
      </div>
      <div class="image" style="flex-basis: 45%" align = "center">
        <a href="Kirigami-bracelet/">
          <img src="/GodwinPonraj/assets/Fig_Kiri_bracelet.jpg"><br>
          <i>Kirigami Bracelet to measure Skin Impedance & Classify Hand Gestures</i><br>
        </a>
      </div>
</div>
<a href="Projects/">
      <div align="right">
        <h4><em>View All Projects</em></h4>
      </div>
</a>
<hr>

<h2>Key Publications</h2>
{% include KeyPublications.md %}
<a href="Publications/">
      <div align="right">
        <h4><em>View All Publications</em></h4>
      </div>
</a>
<hr>

<h2>Education</h2>
{% include Education.md %} 
<hr>
